html,
body,
#app-mount {
  margin: 0;
  font-family: 'Fira Code', 'Consolas', monospace;

  background: #161818;
  color: white;

  text-align: center;

  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Fira Code';
  font-weight: lighter;
}

.cmd {
  font-weight: normal;

  b span {
    font-weight: bold;

    &:nth-of-type(1) {
      color: rgb(73, 198, 62);
    }
    &:nth-of-type(2) {
      color: rgb(73, 197, 208);
    }

    &:nth-of-type(3) {
      color: rgb(107, 76, 243);
      span {
        color: rgb(213, 75, 54);
      }
    }
  }

  span:last-child {
    color: #666666;
  }
}

input {
  border: none;
  background: none;

  color: white;
  font-size: 16px;
  font-family: 'Fira Code', 'Consolas', monospace;

  &:focus {
    outline: none;
  }
}
